## EAN API CONECTION

LECTURA DE CSV Y CODIGOS EAN

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/LG/TV_Data_OK.csv')
data

      Unnamed: 0      EAN Code         TV Model      PVP   TVs
0              0  8.806098e+12    AN-MR19BA.AEU    24.76  True
1              1  8.806098e+12    AN-MR19BA.AEU    23.90  True
2              2  8.806098e+12    AN-MR19BA.AEU    23.90  True
3              3  8.806098e+12  24TL510S-PZ.AEU   169.11  True
4              4  8.806098e+12  50UM7600PLB.AEU   389.19  True
...          ...           ...              ...      ...   ...
5226        9449  8.806099e+12  65UM7100PLA.AEU   555.99  True
5227        9452  8.806099e+12  OLED65GX6LA.AEU  3774.98  True
5228        9456  8.806098e+12  32LM630BPLA.AEU   198.99  True
5229        9458  8.806098e+12       PF50KS.AEU   454.97  True
5230        9463  8.806098e+12  32LM630BPLA.AEU   225.60  True

[5231 rows x 5 columns]

In [3]:
data = data.drop(columns=['Unnamed: 0'])

In [4]:
data

          EAN Code         TV Model      PVP   TVs
0     8.806098e+12    AN-MR19BA.AEU    24.76  True
1     8.806098e+12    AN-MR19BA.AEU    23.90  True
2     8.806098e+12    AN-MR19BA.AEU    23.90  True
3     8.806098e+12  24TL510S-PZ.AEU   169.11  True
4     8.806098e+12  50UM7600PLB.AEU   389.19  True
...            ...              ...      ...   ...
5226  8.806099e+12  65UM7100PLA.AEU   555.99  True
5227  8.806099e+12  OLED65GX6LA.AEU  3774.98  True
5228  8.806098e+12  32LM630BPLA.AEU   198.99  True
5229  8.806098e+12       PF50KS.AEU   454.97  True
5230  8.806098e+12  32LM630BPLA.AEU   225.60  True

[5231 rows x 4 columns]

In [5]:
lst = data['EAN Code'].to_list()

In [ ]:
#pasarlo a integer para quitar decimales
lst(int)[5]

SEARCH BY EAN CODE

In [6]:
from eansearch import EANSearch

In [7]:
ean = "8806098679850"
apiToken = "410ed2cd7907160cdf361e89e628263cf0ba6c0b5bae877df9"

In [8]:
lookup = EANSearch(apiToken)

In [12]:
name = lookup.barcodeLookup(ean)
for barcode in eanList:
    print("Product with EAN Nº:", ean, "is: ", name)

Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB
Product with EAN Nº: 8806098679850 is:  LG 55UN81006LB

SEARCH BY PRODUCT NAME

In [14]:
eansearch = EANSearch(apiToken)
eanList = eansearch.productSearch('55UN81006LB');
for product in eanList:
	print(product["ean"], " is ", product["name"].encode("utf-8"))

8806098679898  is  b'LG 55UN81006LB.API Light Black Pearl'
8806098679850  is  b'LG 55UN81006LB'
8806098679850  is  b'LG Electronics LG 55UN81006LB'
8806098680429  is  b'LG 55UN81006LB'
8806098679850  is  b'LG 55UN81006LB Ultra HD HDR LED-TV 55 (139 cm'
8806098760220  is  b'LG 55UN81006LB'
8806098679898  is  b'LG 55UN81006LB.API'
8806098679850  is  b'LG Electronics LG 55UN81006LB'
8806098679850  is  b'LG 55UN81006 - 4K HDR LED Smart TV (55 inch)'
8806098679850  is  b"Tv led 55'' lg 55un81006 ia 4k uhd hdr smart tv"

try to go through the file